nav {
	position: absolute;
}

li {
	list-style-type:none;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 50px;
}

ul li:first-child{
	padding-top: 0px;
}

ul {
	width: 350px;
	text-align: right;
	margin-right: 1070px;
	margin-top: -1500px;
}

a {
	color: #424241;
	padding: 0;
	margin: 0;
	margin-top: 60px;
	font-size: 40px;
	font-family: helvetica;
	font-weight: 100;
	text-decoration: none;
}

a.active {
	font-size: 50px;
	color: black;
	padding-right: 50px;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: 0;
    border-style: solid;
    border-width: 1px;
    width: 120px;
    color: #cfd0cf;
} 

.container {
	background-color: #f7f7f7;
	border-color: #cfd0cf;
	border-radius: 30px 30px 30px 30px;
	border-style: solid;
	width: 1030px;
	height: 1450px;
	margin-left: 315px;
	margin-bottom: 80px;
}