input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 17.5px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #cfd0cf;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 40px;
  width: 10px;
  border-radius: 2px;
  background: #2f93d1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #d4d5d4;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #cfd0cf;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 40px;
  width: 10px;
  border-radius: 2px;
  background: #2f93d1;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #cacbca;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-fill-upper {
  background: #cfd0cf;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 40px;
  width: 10px;
  border-radius: 2px;
  background: #2f93d1;
  cursor: pointer;
  height: 5px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #cfd0cf;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #d4d5d4;
}
