.onoffswitch {
    margin-top: 40px;
    margin-left: 70px;
    position: relative;
    width: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 5px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-top: 0px;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 100px;
    padding: 0;
    line-height: 100px;
    font-size: 40px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "AAN";
    padding-left: 50px;
    background-color: #2F93D1;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "UIT";
    padding-right: 65px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 100px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 196px;
    border: 2px solid #999999;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}