body {
  background-color: #272828;
    /*margin enzo er nog uit halen*/
}

section#pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div#top-bar {
  background-color: #f8faf9;
  width: 1473px;
  height: 144px;
  border-radius: 30px 30px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#main-part {
  height: 1635px;
  width: 1473px;
  background-color: #ffffff;
  border-radius:  0px 0px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 48px;
}

h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 41px;
}

p {
  color: #9e9e9e;
  padding: 0;
  margin: 0;
  font-size: 38px;
  font-family: helvetica;
  font-weight: 100;
  margin-bottom: 200px;
}

div#text > p {
  color: #424241;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  font-size: 44px;
  font-family: helvetica;
  font-weight: 100;
}

div#text {
  width: 1173px;
}

img[src="img/cross.svg"] {
  width: 33px;
  height: 33px;
  position: absolute;
  right: 1420px;
}

/*NAV*/

ul {
  list-style: none;
  margin-right: 50px;
}

li {
  font-size: 41px;
  color: #94979b;
  text-align: right;
  margin-bottom: 100px;
  position: relative;
}

li:not(:last-child)::after {
  position: absolute;
  top: 100;
  left: 92;
  content: "";
  height: 2px;
  background-color: #cfd1d0;
  width: 168px;
}

section#nav_section {
  height: 1401px;
}

/*NAV*/

/*OPTIONS*/

section#options {
  width: 1042px;
  height: 1401px;
  background-color: #f8f7f7;
  border-radius: 30px;
  border-color: #cfd1d0;
  border-style: solid;
  border-width: 1.5px;
}

div#options-content {
  margin-left: 50px;
}

div#verwarming, div#voorin_achterin, div#airconditioning, div#sterkte {
  margin-bottom: 50px;
}

div#voorin_achterin {
  display: flex;
  flex-direction: row;
}

section#voorin, section#achterin {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

span#temp_voorin, span#temp_achterin, span.celcius_text {
  color: #94979b;
  font-size: 55px;
}

img[src="img/arrow_up.svg"] {
  width: 134px;
  height: 53px;
}

img[src="img/arrow_down.svg"] {
  width: 134px;
  height: 53px;
}

a#top_arrow_voorin, a#top_arrow_achterin, a#bottom_arrow_voorin, a#bottom_arrow_achterin {
  width: 134px;
  height: 53px;
}

a#top_arrow_voorin:active, a#top_arrow_achterin:active, a#bottom_arrow_voorin:active, a#bottom_arrow_achterin:active {
  transition: transform 0.3s;
  transform: scale(1.3);
}

div.tempdiv {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*toggle*/

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 594px;
    height: 115px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /*.slider:before {
    position: absolute;
    content: "";
    height: 115px;
    width: 297px;
    background-color: #2f94d1;
    -webkit-transition: .4s;
    transition: .4s;
  }*/

  #slider-text_verwarming, #slider-text_aircon {
    position: absolute;
    z-index: 1;
    height: 115px;
    width: 297px;
    background-color: #2f94d1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    font-size: 44px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #slider-text-second_verwarming, #slider-text-second_aircon {
    font-size: 44px;
    color: #94979b;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 127px;
  }

  input:checked + .slider {
    background-color: #fff;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  /*input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(297px);
  }*/

  input:checked + #slider-text_verwarming {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(297px);
  }

  input:checked + #slider-text_aircon {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(297px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }

  .slider.round:before {
    border-radius: 10px;
  }

  /*toggle*/

  /*slider*/

  input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 870px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 870px;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*thumb styling*/

    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 87px;
      width: 124px;
      border-radius: 10px;
      background: #2f94d1;
      cursor: pointer;
      margin-top: -35px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      -webkit-appearance: none;
      height: 87px;
      width: 124px;
      border-radius: 10px;
      background: #2f94d1;
      cursor: pointer;
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      -webkit-appearance: none;
      height: 87px;
      width: 124px;
      border-radius: 10px;
      background: #2f94d1;
      cursor: pointer;
    }

  /*thumb styling*/

  /*slider styling*/

    input[type=range]::-webkit-slider-runnable-track {
    width: 870px;
    height: 14px;
    cursor: pointer;
    background: #cfd1d0;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #367ebd;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #3071a9;
    }
    input[type=range]::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #367ebd;
    }

  /*slider styling*/

  /*slider*/

/*OPTIONS*/
