* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #272828;
    /*margin enzo er nog uit halen*/
}

section#pop-up {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div#top-bar {
  background-color: #f8faf9;
  width: 737px;
  height: 72px;
  border-radius: 15px 15px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #cfd1d0;
  display: flex;
  justify-content: center;
  align-items: center;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

div#main-part {
  height: 818px;
  width: 737px;
  background-color: #ffffff;
  border-radius:  0px 0px 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-justify-content: center;
  -webkit-flex-align-items: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: helvetica;
}

h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 21px;
  font-family: helvetica;
  color: #94979b;
}

section#voorin > h2, section#achterin > h2 {
  margin-top: 0;
}

p {
  color: #9e9e9e;
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-family: helvetica;
  font-weight: 100;
  margin-bottom: 200px;
}

div#text > p {
  color: #424241;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  font-size: 22px;
  font-family: helvetica;
  font-weight: 100;
}

div#text {
  width: 587px;
}

img[src="img/cross.svg"] {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 710px;
}

img[src="img/tesla_bar_cut.png"] {
  width: 768px;
  height: 50px;
}

/*NAV*/

ul {
  list-style: none;
  margin-right: 25px;
  margin-top: 25px;
  font-family: helvetica;
  color: #94979b;
}

li {
  font-size: 21px;
  color: #94979b;
  text-align: right;
  margin-bottom: 50px;
}

ul > a:not(:last-child)::after {
  position: absolute;
  bottom: 25;
  left: 75;
  content: "";
  height: 2px;
  background-color: #cfd1d0;
  width: 84px;
}

section#nav_section {
  height: 701px;
}

li#current_li {
  color: #1d1d1b;
  font-size: 24px;
}

ul > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
}

/*NAV*/

/*OPTIONS*/

section#options {
  width: 521px;
  height: 701px;
  background-color: #f8f7f7;
  border-radius: 15px;
  border-color: #cfd1d0;
  border-style: solid;
  border-width: 1px;
}

div#options-content {
  margin-left: 50px;
}

div#verwarming, div#voorin_achterin, div#airconditioning, div#sterkte {
  margin-bottom: 50px;
}

div#voorin_achterin {
  display: flex;
  flex-direction: row;

  display: -webkit-flex;
  -webkit-flex-direction: row;
}

section#voorin, section#achterin {
  margin-right: 100px;
  display: flex;
  flex-direction: column;

  display: -webkit-flex;
  -webkit-flex-direction: column;
}

span#temp_voorin, span#temp_achterin, span.celcius_text {
  color: #94979b;
  font-size: 28px;
}

span.celcius_text {
  margin-left: 10px;
}

img[src="img/arrow_up.svg"] {
  width: 67px;
  height: 27px;
}

img[src="img/arrow_down.svg"] {
  width: 67px;
  height: 27px;
}

a#top_arrow_voorin, a#top_arrow_achterin, a#bottom_arrow_voorin, a#bottom_arrow_achterin {
  width: 67px;
  height: 27px;
}

a#top_arrow_voorin:active, a#top_arrow_achterin:active, a#bottom_arrow_voorin:active, a#bottom_arrow_achterin:active {
  transition: transform 0.3s;
  transform: scale(1.3);
}

div.tempdiv {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: helvetica;
}

/*toggle*/

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 297px;
    height: 58px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /*.slider:before {
    position: absolute;
    content: "";
    height: 115px;
    width: 297px;
    background-color: #2f94d1;
    -webkit-transition: .4s;
    transition: .4s;
  }*/

  #slider-text_verwarming, #slider-text_aircon {
    position: absolute;
    z-index: 1;
    height: 58px;
    width: 149px;
    background-color: #2f94d1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    font-family: helvetica;
    display: flex;
    justify-content: center;
    align-items: center;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

  #slider-text-second_verwarming, #slider-text-second_aircon {
    font-size: 22px;
    font-family: helvetica;
    color: #94979b;
    height: 100%;
    align-items: center;
    margin-right: 64px;
    display: flex;
    justify-content: flex-end;

    display: -webkit-flex;
    -webkit-justify-content: flex-end;
  }

  input:checked + .slider {
    background-color: #fff;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  /*input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(297px);
  }*/

  input:checked + #slider-text_verwarming {
    -webkit-transform: translateX(149px);
    -ms-transform: translateX(149px);
    transform: translateX(149px);
  }

  input:checked + #slider-text_aircon {
    -webkit-transform: translateX(149px);
    -ms-transform: translateX(149px);
    transform: translateX(149px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }

  .slider.round:before {
    border-radius: 10px;
  }

  /*toggle*/

  /*slider*/

  input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 350px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 350px;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /*----------------------------------------------------------------------------------------------------*/
  /*thumb styling*/

    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 44px;
      width: 62px;
      border-radius: 10px;
      background: #2f94d1;
      cursor: pointer;
      margin-top: -15px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
      -webkit-appearance: none;
      height: 44px;
      width: 62px;
      border-radius: 10px;
      background: #2f94d1;
      cursor: pointer;
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      -webkit-appearance: none;
      height: 44px;
      width: 62px;
      border-radius: 10px;
      background: #2f94d1;
      cursor: pointer;
    }

  /*thumb styling*/

  /*slider styling*/

    input[type=range]::-webkit-slider-runnable-track {
    width: 350px;
    height: 7px;
    cursor: pointer;
    background: #cfd1d0;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      /*background: #367ebd;*/
    }

    input[type=range]::-moz-range-track {
      width: 350px;
      height: 7px;
      cursor: pointer;
      background: #cfd1d0;
    }

  /*slider styling*/

  span#slider_value {
    font-size: 21px;
    color: #94979b;
    margin-left: 30px;
  }

  /*slider*/

/*OPTIONS*/
