* {
  margin:0;
  padding: 0;
}
  
body {
  background-color: #272828;
}

figure img {
  height: 50px;
  width: 100vw;
}

  main {
    max-width: 95%;
    margin: 30px auto 0;
    min-height: calc(100vh - 210px);
  }

  section#pop-up {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 100%;
  }
  
  div#top-bar {
    background-color: #f8faf9;
    border-radius: 12px 12px 0 0;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #cfd0cf;
    display: flex;
    flex-basis: 70px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  #top-bar img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
  }

  h1 {
    font-size: 27px;
    font-family: Helvetica, sans-serif;
  }
  
  div#main-part {
    height: 818px;
    background-color: #ffffff;
    border-radius:  0px 0px 12px 12px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .text-container { 
    padding: 110px 50px 50px;
  }

  p {
    color: #9e9e9e;
    font-size: 22px;
    font-family: helvetica;
    font-weight: 100;
    text-align: left;
  }

  .insane-margin {
    margin-bottom: 40px;
  }

  .insane-margin-double {
    margin-top: 60px;
  }

  b  {
    color: #E31937;
  }

  h2 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .mood {
    -webkit-display: flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 60px;
  }

  .button-wrap {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-basis: 33.33%;
    -moz-flex-basis: 33.33%;
    -ms-flex-basis: 33.33%;
    -o-flex-basis: 33.33%;
    flex-basis: 33.33%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-label {
    flex-basis: 100%;
    font-weight: normal;
    margin-bottom: 16px;
    text-align: center;
  }

  button { 
    background-color: grey;
    border-radius: 6px;
    background-color: #9DA2A0;
    background-size: 42%;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 260px; 
    height: 170px;
  }

  button:active {
    background-color: #3088BB;
  }

  .thumbs-up {
    background-image: url("../assets/thumbs_up.png");
  }

  .thumbs-down {
    background-image: url("../assets/thumbs_down.png");
  }