body {
  background-color: #272828;
  /*margin enzo er nog uit halen*/
}

section#pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div#top-bar {
  background-color: #f8faf9;
  width: 1473px;
  height: 144px;
  border-radius: 30px 30px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#main-part {
  height: 1635px;
  width: 1473px;
  background-color: #ffffff;
  border-radius:  0px 0px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

div#text {
  margin-bottom: 100px;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 48px;
}

p {
  color: #424241;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  font-size: 44px;
  font-family: helvetica;
  font-weight: 100;
}

div#text {
  width: 1173px;
}

img[src="img/wheel_image.jpg"] {
  width: 1473px;
  height: 1050px;
}

img[src="img/cross.svg"] {
  width: 33px;
  height: 33px;
  position: absolute;
  right: 1420px;
}
